h1, h2, h3 {
  text-align: center;
}

h4 {
  line-height: 4px;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}